.papertitle2 {
    color: rgb(128,128,128); /* Set the color of the title */
    font-family: Arial, sans-serif; /* Set the font family */
    /* font-family: Verdana, sans-serif; */
    font-size: 18px; /* Set the font size */
	font-weight: 600;
}
    
