.papertitle2 {
    color: rgb(88,88,88); /* Set the color of the title */
    font-family: Arial, sans-serif; /* Set the font family */
    /* font-family: Verdana, sans-serif; */
    font-size: 18px; /* Set the font size */
	font-weight: 480;
}
    
