.papertitle {
    color: crimson; /* Set the color of the title */
    font-family: Verdana; /* Set the font family */
    /* font-family: Verdana, sans-serif; */
    font-size: 27px; /* Set the font size */
    font-weight:1000; /* Set the font weight*/
}
